<h1>Novo Galpão</h1>

<% if(@warehouse.errors.any?)%>
  <p>Verique os erros:</p>
  <ul>
    <% @warehouse.errors.full_messages.each do | msg | %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>